<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>person</title>
</head>
<body>
    
   <header>
       <ul>
           <li><a href="/">HR</a></li>
           <li><a href="/add">Add New Employ</a></li>
       </ul>
    
   </header>

   <form action="/add" method="post">
<fieldset>
 <legend>ADD NEW EMPLOY</legend>
 <input type="text" name="name" placeholder="name">
 <input type="text" name="age" placeholder="age">
 <button type="submit">Submit</button>
 
</fieldset>
</form>
    
</body>
</html>